---
layout: 'default'
title: '2. Freiämter Bildhauer Symposium 2010'
---

%h1 Fotoalbum
%h2 2. Freiämter Bildhauer Symposium 2010
%p
.galleries
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/2-freiaemter-bildhauer-symposium-2010/samstag-29-mai.html' do
          %img{alt: 'Samstag 29. Mai', height: '250', src: '/images/galleries/64/DSC_0009_c250x250.jpg', width: '250'}/
      .title
        %h3
          = link_to 'Samstag 29. Mai', '/fotoalbum/2-freiaemter-bildhauer-symposium-2010/samstag-29-mai.html'
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/2-freiaemter-bildhauer-symposium-2010/sonntag-30-mai.html' do
          %img{alt: 'Sonntag 30. Mai', height: '250', src: '/images/galleries/65/DSC_0067_c250x250.jpg', width: '250'}/
      .title
        %h3
          = link_to 'Sonntag 30. Mai', '/fotoalbum/2-freiaemter-bildhauer-symposium-2010/sonntag-30-mai.html'
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/2-freiaemter-bildhauer-symposium-2010/montag-31-mai.html' do
          %img{alt: 'Montag 31. Mai', height: '250', src: '/images/galleries/66/DSC_0087_c250x250.jpg', width: '250'}/
      .title
        %h3
          = link_to 'Montag 31. Mai', '/fotoalbum/2-freiaemter-bildhauer-symposium-2010/montag-31-mai.html'
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/2-freiaemter-bildhauer-symposium-2010/dienstag-1-juni.html' do
          %img{alt: 'Dienstag 1. Juni', height: '250', src: '/images/galleries/67/DSC_0129_c250x250.jpg', width: '250'}/
      .title
        %h3
          = link_to 'Dienstag 1. Juni', '/fotoalbum/2-freiaemter-bildhauer-symposium-2010/dienstag-1-juni.html'
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/2-freiaemter-bildhauer-symposium-2010/mittwoch-2-juni.html' do
          %img{alt: 'Mittwoch 2. Juni', height: '250', src: '/images/galleries/68/DSC_0158_c250x250.jpg', width: '250'}/
      .title
        %h3
          = link_to 'Mittwoch 2. Juni', '/fotoalbum/2-freiaemter-bildhauer-symposium-2010/mittwoch-2-juni.html'
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/2-freiaemter-bildhauer-symposium-2010/donnerstag-3-juni.html' do
          %img{alt: 'Donnerstag 3. Juni', height: '250', src: '/images/galleries/69/DSC_0191_c250x250.jpg', width: '250'}/
      .title
        %h3
          = link_to 'Donnerstag 3. Juni', '/fotoalbum/2-freiaemter-bildhauer-symposium-2010/donnerstag-3-juni.html'
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/2-freiaemter-bildhauer-symposium-2010/freitag-4-juni.html' do
          %img{alt: 'Freitag 4. Juni', height: '250', src: '/images/galleries/70/DSC_0223_c250x250.jpg', width: '250'}/
      .title
        %h3
          = link_to 'Freitag 4. Juni', '/fotoalbum/2-freiaemter-bildhauer-symposium-2010/freitag-4-juni.html'
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/2-freiaemter-bildhauer-symposium-2010/samstag-5-juni.html' do
          %img{alt: 'Samstag 5. Juni', height: '250', src: '/images/galleries/71/DSC_0340_c250x250.jpg', width: '250'}/
      .title
        %h3
          = link_to 'Samstag 5. Juni', '/fotoalbum/2-freiaemter-bildhauer-symposium-2010/samstag-5-juni.html'
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/2-freiaemter-bildhauer-symposium-2010/sonntag-6-juni.html' do
          %img{alt: 'Sonntag 6. Juni', height: '250', src: '/images/galleries/72/DSC_0466_c250x250.jpg', width: '250'}/
      .title
        %h3
          = link_to 'Sonntag 6. Juni', '/fotoalbum/2-freiaemter-bildhauer-symposium-2010/sonntag-6-juni.html'
%br{style: 'clear:both;'}/
