---
layout: 'default'
title: 'Fotoalbum'
---

%h1 Fotoalbum
.galleries
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/sagenweg-geburtstag-uralte-spiele.html' do
          %img{alt: 'Sagenweg Geburtstag ', height: '250', src: '/images/galleries/135/IMG_1413_c250x250.jpg', width: '250'}/
      .title
        %h3
          = link_to 'Sagenweg Geburtstag - Uralte Spiele', '/fotoalbum/sagenweg-geburtstag-uralte-spiele.html'
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/kantonaler-wandertag-2013.html' do
          %img{alt: 'Kantonaler Wandertag 2013', height: '250', src: '/images/galleries/136/DSC_7161_c250x250.jpg', width: '250'}/
      .title
        %h3
          = link_to 'Kantonaler Wandertag 2013', '/fotoalbum/kantonaler-wandertag-2013.html'
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/waldpurgisnacht.html' do
          %img{alt: 'Waldpurgisnacht', height: '250', src: '/images/galleries/84/verylarge_c250x250.jpeg', width: '250'}/
      .title
        %h3
          = link_to 'Waldpurgisnacht', '/fotoalbum/waldpurgisnacht.html'
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/geburtstag-sagenweg.html' do
          %img{alt: 'Geburtstag Sagenweg', height: '250', src: '/images/galleries/83/IMGP2561_c250x250.jpg', width: '250'}/
      .title
        %h3
          = link_to 'Geburtstag Sagenweg', '/fotoalbum/geburtstag-sagenweg.html'
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/ferienpass-2011.html' do
          %img{alt: 'Ferienpass 2011', height: '250', src: '/images/galleries/80/FepaM_Br_nlig1_c250x250.JPG', width: '250'}/
      .title
        %h3
          = link_to 'Ferienpass 2011', '/fotoalbum/ferienpass-2011.html'
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/sagenweg-im-winter.html' do
          %img{alt: 'Sagenweg im Winter', height: '250', src: '/images/galleries/76/Brennende_M_nner_c250x250.jpg', width: '250'}/
      .title
        %h3
          = link_to 'Sagenweg im Winter', '/fotoalbum/sagenweg-im-winter.html'
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/eroeffnung-vom-28-august-2010.html' do
          %img{alt: 'Eröffnung vom 28. August 2010', height: '250', src: '/images/galleries/77/34-eroeffnung-sagenweg_c250x250.jpg', width: '250'}/
      .title
        %h3
          = link_to 'Eröffnung vom 28. August 2010', '/fotoalbum/eroeffnung-vom-28-august-2010.html'
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/die-sagen.html' do
          %img{alt: 'Die Sagen', height: '250', src: '/images/galleries/78/1._Der_Tanzplatz_von_Zufikon_c250x250.jpg', width: '250'}/
      .title
        %h3
          = link_to 'Die Sagen', '/fotoalbum/die-sagen.html'
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/photo-fascination-vom-2-symposium.html' do
          %img{alt: 'Photo Fascination vom 2. Symposium', height: '250', src: '/images/galleries/75/Bildhauersymposium-2010-Wohlen-0320_c250x250.jpg', width: '250'}/
      .title
        %h3
          = link_to 'Photo Fascination vom 2. Symposium', '/fotoalbum/photo-fascination-vom-2-symposium.html'
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/2-freiaemter-bildhauer-symposium-2010.html' do
          %img{alt: '2. Freiämter Bildhauer Symposium 2010', height: '250', src: '/images/galleries/63/DSC_0009_c250x250.jpg', width: '250'}/
      .title
        %h3
          = link_to '2. Freiämter Bildhauer Symposium 2010', '/fotoalbum/2-freiaemter-bildhauer-symposium-2010.html'
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/offene-steinbruchwerkstatt-2005.html' do
          %img{alt: 'Offene Steinbruchwerkstatt 2005', height: '250', src: '/images/galleries/58/262096991_1acdebd957_o_c250x250.jpg', width: '250'}/
      .title
        %h3
          = link_to 'Offene Steinbruchwerkstatt 2005', '/fotoalbum/offene-steinbruchwerkstatt-2005.html'
  .gallery
    .description
      .thumb
        = link_to '/fotoalbum/1-freiaemter-bildhauer-symposium-2003.html' do
          %img{alt: '1. Freiämter Bildhauer Symposium 2003', height: '250', src: '/images/galleries/57/262094395_7f8cd4bd25_o_500x1138_c250x250.jpg', width: '250'}/
      .title
        %h3
          = link_to '1. Freiämter Bildhauer Symposium 2003', '/fotoalbum/1-freiaemter-bildhauer-symposium-2003.html'

%br{style: 'clear:both;'}/
