---
layout: 'default'
title: 'Führungen Freiämter Sagenweg'
---

%h1
  Führungen Freiämter Sagenweg

%p
  Wir freuen uns, ihnen den Freiämter Sagenweg auf einer Führung vorstellen
  zu dürfen. Mit professionellen Erklärungen eines Künstlers zu den Kunstwerken,
  einer Sagenerzählerin und mit musikalischer Begleitung können Sie den Freiämter
  Sagenweg noch intensiver und eindrücklicher erleben.
%p
  Wählen sie aus unserem Programm, oder sprechen sie mit uns über ihre Wunsch-Führung.


#accordion
  %h2 Jahresprogramm 2015
  %div
    %p
      Im Jahr 2015 sind folgende Führungen vorgesehen:
    %table{style: 'margin: 0'}
      %tr
        %td.nowrap
          Sonntag, 22. Februar
        %td Winter auf dem Sagenweg
      %tr
        %td.nowrap
          Sonntag, 7. Juni
        %td Käfersafari auf dem Sagenweg
      %tr
        %td.nowrap
          Sonntag, 23.August
        %td 5 Jahre Sagenweg /Tiergeschichten und Singspiele
      %tr
        %td.nowrap Samstag, 31. Oktober
        %td Halloween / Geistergeschichten

  %h2 5. Geburtstag Sagenweg Waltenschwil
  %div
    %table
      %tr
        %td Datum
        %td Sonntag, 23. August 2015
      %tr
        %td Besammlung
        %td 14:00 Uhr

    %p= link_to 'Flyer 1 anzeigen', '/images/fliers/Sagenweg_Geburtstag_2015.jpg', rel: 'lightbox'
    %p= link_to 'Flyer 2 anzeigen', '/images/fliers/Sagenweg_Geburtstag_2015_2.jpg', rel: 'lightbox'
    %p Der Sagenweg Waltenschwil feiert am Sonntag, 23. August von 14 bis 16 Uhr seinen 5. Geburtstag!
    %h3 Singspiele und Tiergeschichten mit Icon Würfeln
    %p Jung und Alt, Gross und Klein sind eingeladen zum Mitfeiern, Mitsingen, Spielen und Geschichten-Würfeln.
    %p Alt bekannte Singspiele locken zum fröhlichen Singen und Spielen und die Icons auf den Würfeln zum Erzählen von selbsterfundenen Tiergeschichten. Die Skulpturen auf dem Sagenweg werden zu Akteuren.
    %p Das neue Erlebnisangebot „Sagen, Skulpturen und Icon-Würfel“ wird aus der Taufe gehoben. Das locktGeschichtenerfinder, Erzählerinnen, Flunkerer und Assoziationshelden aus ihrer Reserve. Willkommen zu Geschichten-Battles und frechen Erzählrunden à la Icon-Poet.
    %p Wir stossen an auf den fünften Geburtstag, freuen uns auf offizielle Geburtstags-Glückwünsche und offerieren ein Stück Geburtstagskuchen.
    %p Geburtstagsgeschenke in den Spenden-Hexentopf sind herzlich willkommen. Sie helfen die Unkosten für den Unterhalt des Sagenwegs zu tragen.


  %h2 Halloween auf dem Sagenweg
  %div
    %table
      %tr
        %td Datum
        %td Samstag, 31. Oktober 2015
      %tr
        %td Besammlung
        %td 17:00 Uhr
      %tr
        %td Start
        %td Waldhaus (beim Tierpark) Waltenschwil
      %tr
        %td Dauer
        %td ca. 2 Stunden
      %tr
        %td Anmeldung
        %td Ist nicht erforderlich
      %tr
        %td Auskunft
        %td
          %a{href: 'mailto:'} info@freiamt.ch
      %tr
        %td Kosten
        %td Kollekte
    %p Die Zufahrt zum Tierpark ist mit einem Fahrverbot belegt. Bitte Parkplätze an der Grintenstrasse in Waltenschwil oder BDWM benützen.
    %p= link_to 'Flyer anzeigen', '/images/fliers/Sagenweg_Halloween_2015_1-seitig.jpg', rel: 'lightbox'
    %p
      %b Wir freuen uns auf ihre Teilnahme.

  %h2
    Unsere Führungen
  %div
    %ul
      %li
        %strong Begehung mit Künstler
        %br/
        %br/
        Der Künstler stellt ihnen die Entstehung des Projektes Freiämter Sagenweg und deren Erschaffer vor. Er erklärt  während der Begehung die Aussagen der Kunstwerke, ihre Entstehung von der Idee bis zur Umsetzung und ihren Bezug zu den dargestellten Sagen.
        %br/
        %br/
         Dauer 1½ Std., Preis Fr. 150.-
        %br/
        %br/
      %li
        %strong Mit Musikbegleitung
        %br/
        %br/
        Das Erzählen der Sagen bei den einzelnen Kunstwerken durch eine professionelle Erzählerin wird musikalisch begleitet und umrahmt und erhält dadurch eine besondere Note.
        %br/
        %br/
        Dauer 1½ - 2 Std., Preis Fr. 150.- für Führer und Fr. 200.- für Musiker.
        %br/
        %br/
      %li
        %strong In der Nacht
        %br/
        %br/
        Der Mondschein oder das Licht von Fackeln sorgen für eine spezielle Stimmung, sei es beim Erzählen der Sagen, beim Lauschen der Musik oder beim Betrachten der Kunstwerke.
        %br/
        %br/
        Dauer 1½ Std., Preis Fr.150.-, mit Fackeln Fr. 200.-
        %br/
        %br/
      %li
        %strong Für Kinder bis ca. 7 Jahren
        %br/
        %br/
        Besichtigung des Freiämter Sagenweges mit einigen herzhaft erzählten Sagen. Auf Wunsch erklärt die Erzählerin die Entstehung des Sagenweges und berichtet von den Künstlern und ihren Objekten.
        %br/
        %br/
         Dauer 1 - 1½ Std., Preis Fr. 150.-
        %br/
        %br/
      %li
        %strong Für Schulklassen
        %br/
        %br/
        Wir erklären die Entstehung des Projektes Freiämter Sagenweg, den Beruf des Bildhauers/Künstlers und die Entstehung von Sagen und ihre Bedeutung. Wir besichtigen den Weg, erzählen einzelne Sagen, schauen uns die Kunstwerke an, ihren Bezug zu den Sagen und diskutieren die künstlerische Umsetzung.
        %br/
        %br/
        Dauer 1 - 1½ Std., Preis Fr. 150.--
        %br/
        %br/
        = link_to 'Arbeitsblätter und Informationen für Lehrerinnen und Lehrer', '/unterrichtsmaterial.html'
        %br/
        %br/
      %li
        %strong Für Erwachsene
        %br/
        %br/
        Sie erleben einen speziellen Waldspaziergang und lauschen den Erzählungen von mehreren der zwölf spannenden Sagen, erzählt durch eine professionelle Erzählerin.
        %br/
        %br/
        Dauer 1 – 1½ Std., Preis Fr. 150.--
        %br/
        %br/
      %li
        %strong Englisch Führungen
        %br/
        %br/
        Barbara Goossens führt Sie in englischer Sprache durch den Freiämter Sagenweg.  Ein ideales Angebot für internationale Firmen, Organisationen und Schulen welche Ihren Gästen, Mitarbeiterinnen und Schülerinnen ein Stück der schweizerischen Kultur und Geschichte abwechslungsreich und lebendig näher bringen möchten.
        %br/
        %br/
        Dauer 1 – 1½ Std., Preis Fr. 150.--
        %br/
        %br/
      %li
        %strong The Legends Path, by day or at night, is an adventure for everyone!
        %br/
        %br/
        Skilled Storyteller, Barbara Goossens, will guide you along the way, telling exciting historical tales of the „Freiamt“, explaining the respective sculptures that have been created by  local artists especially for the „Legend Path“.
        %br/
        %br/
        This extraordinary venue is an ideal opportunity for International Corperations, Organisations and Schools to convey a facinating piece of Swiss culture and history to your guests, employees or students in an entertaining manner.
        %br/
        %br/
        The tour can of course also be booked in two languages. A choice of fluent German, French, English is available on demand.
        %br/
        %br/
        Duration 1 - 1½ hours, Price Fr. 150.-
        %br/
        %br/
    %h3
      Kosten
    %p
      Die angegebenen Preise gelten pro Führerin bzw. Führer. Gruppengrösse pro Führer max. 30 Personen. Die Entschädigung des Führers/Führerin muss in bar übergeben werden.
    %h3
      Durchführung
    %p
      Die Führung 2 mit Musikbegleitung kann nur bei trockener Witterung durchgeführt werden. Ausgenommen bei Gewitter/Sturm können die andern Führungen immer stattfinden. Absagen bis am Vortag ohne Kostenfolge. Für spätere Absagen werden 50% der Entschädigung fällig.
    %p
      = link_to 'Kontakt für die Anmeldung und mehr Informationen', '/kontakt.html'
