---
layout: 'default'
title: 'Home'
---

.cycle-slideshow{'data-cycle-caption' => '#alt-caption', 'data-cycle-caption-template' => '', 'data-cycle-tile-count' => '10', 'data-cycle-timeout' => '3000', 'data-slides' => '>a'}

  = link_to '/sagen/1-der-tanzplatz-von-zufikon.html', :class => 'noarrow', 'data-cycle-title' => 'Der Tanzplatz von Zufikon' do
    %img{alt: 'Der Tanzplatz von Zufikon', height: '196', src: '/images/1_der_tanzplatz_von_zufikon.jpg', width: '590'}/

  = link_to '/sagen/2-der-teufel-auf-der-isenburg.html', :class => 'noarrow', 'data-cycle-title' => 'Der Teufel auf der Isenburg' do
    %img{alt: 'Der Teufel auf der Isenburg', height: '196', src: '/images/2_der_teufel_auf_der_isenburg.jpg', width: '590'}/

  = link_to '/sagen/3-der-rote-wyssenbacher.html', :class => 'noarrow', 'data-cycle-title' => 'Der rote Wyssenbacher' do
    %img{alt: 'Der rote Wyssenbacher', height: '196', src: '/images/3_der_rote_wyssenbacher.jpg', width: '590'}/

  = link_to '/sagen/4-das-ruessegger-licht-an-der-reuss.html', :class => 'noarrow', 'data-cycle-title' => 'Das Rüssegger Licht an der Reuss' do
    %img{alt: 'Das Rüssegger Licht an der Reuss', height: '196', src: '/images/4_das_ruessegger_licht_an_der_reuss.jpg', width: '590'}/

  = link_to '/sagen/5-der-wohler-eichmann.html', :class => 'noarrow', 'data-cycle-title' => 'Der Wohler Eichmann' do
    %img{alt: 'Der Wohler Eichmann', height: '196', src: '/images/5_der_wohler_eichmann.jpg', width: '590'}/

  = link_to '/sagen/6-der-zwerg-von-muri.html', :class => 'noarrow', 'data-cycle-title' => 'Der Zwerg von Muri' do
    %img{alt: 'Der Zwerg von Muri', height: '196', src: '/images/6_der_zwerg_von_muri.jpg', width: '590'}/

  = link_to '/sagen/7-die-drei-angelsachsen.html', :class => 'noarrow', 'data-cycle-title' => 'Die drei Angelsachsen' do
    %img{alt: 'Die drei Angelsachsen', height: '196', src: '/images/7_die_drei_angelsachsen.jpg', width: '590'}/

  = link_to '/sagen/8-der-stifeliryter.html', :class => 'noarrow', 'data-cycle-title' => 'Der Styfeliryter' do
    %img{alt: 'Der Styfeliryter', height: '196', src: '/images/8_der_stifeliryter.jpg', width: '590'}/

  = link_to '/sagen/9-der-kegler-im-uezwiler-wald.html', :class => 'noarrow', 'data-cycle-title' => 'Der Kegler im Uezwiler Wald' do
    %img{alt: 'Der Kegler im Uezwiler Wald', height: '196', src: '/images/9_der_kegler_im_uezwiler_wald.jpg', width: '590'}/

  = link_to '/sagen/10-hexenmusik-im-maiengruen.html', :class => 'noarrow', 'data-cycle-title' => 'Hexenmusik im Maiengrün' do
    %img{alt: 'Hexenmusik im Maiengrün', height: '196', src: '/images/10_hexenmusik_im_maiengruen.jpg', width: '590'}/

  = link_to '/sagen/11-die-waltenschwiler-hexe.html', :class => 'noarrow', 'data-cycle-title' => 'Die Waltenschwiler Hexe' do
    %img{alt: 'Die', height: '196', hexe: '', src: '/images/11_die_waltenschwiler_hexe.jpg', waltenschwiler: '', width: '590'}/

  = link_to '/sagen/12-brennende-maenner.html', :class => 'noarrow', 'data-cycle-title' => 'Brennende Männer' do
    %img{alt: 'Brennende Männer', height: '196', src: '/images/12_brennende_maenner.jpg', width: '590'}/

  #alt-caption

%h1
  Der Freiämter Sagenweg

%p
  Die mystische Umgebung rund um den Erdmannlistein im Waltenschwiler Wald strahlt von jeher eine unerklärliche
  Anziehungskraft aus. Dort beginnt ein erlebnisreicher Spaziergang in die geheimnisvolle Welt der Freiämter Sagen.
  Eine Zeitreise - zurück in die Vergangenheit - aber auch in die grenzenlose Fantasie jeder Besucherin und jedes
  Besuchers.

%a.sublime{href: '#sagenwegvideo'} Video zum Freiämter Sagenweg anzeigen
