---
layout: 'default'
title: 'Künstler'
---

%h1 Künstler

#artists
  .artist
    = link_to '/sagen/1-der-tanzplatz-von-zufikon.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Pat Stacey', src: '/images/Pat_stacey.png'}/
    = link_to '/sagen/1-der-tanzplatz-von-zufikon.html' do
      Pat Stacey
  .artist
    = link_to '/sagen/2-der-teufel-auf-der-isenburg.html' do
      %img.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Bertha Shortiss', src: '/images/Bertha_shortiss.png'}/
    = link_to '/sagen/2-der-teufel-auf-der-isenburg.html' do
      Bertha Shortiss
  .artist
    = link_to '/sagen/3-der-rote-wyssenbacher.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Thomas Baggenstos', src: '/images/Thomas_baggenstos.png'}/
    = link_to '/sagen/3-der-rote-wyssenbacher.html' do
      Thomas Baggenstos
  .artist
    = link_to '/sagen/4-das-ruessegger-licht-an-der-reuss.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Felix Bitterli', src: '/images/Felix_bitterli.png'}/
    = link_to '/sagen/4-das-ruessegger-licht-an-der-reuss.html' do
      Felix Bitterli
  .artist
    = link_to '/sagen/4-das-ruessegger-licht-an-der-reuss.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Christine Lifart', src: '/images/Christine_lifart.png'}/
    = link_to '/sagen/5-der-wohler-eichmann.html' do
      Christine Lifart
  .artist
    = link_to '/sagen/6-der-zwerg-von-muri.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Silja Coutsicos', src: '/images/Silja_coutsicos.png'}/
    = link_to '/sagen/6-der-zwerg-von-muri.html' do
      Silja Coutsicos
  .artist
    = link_to '/sagen/7-die-drei-angelsachsen.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Samuel Ernst', src: '/images/Samuel_ernst.png'}/
    = link_to '/sagen/7-die-drei-angelsachsen.html' do
      Samuel Ernst
  .artist
    = link_to '/sagen/8-der-stifeliryter.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Alex Schaufelbühl', src: '/images/Alex_schaufelbuehl.png'}/
    = link_to '/sagen/8-der-stifeliryter.html' do
      Alex Schaufelbühl
  .artist
    = link_to '/sagen/9-der-kegler-im-uezwiler-wald.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Nicolas Wittwer', src: '/images/Nicolas_wittwer.png'}/
    = link_to '/sagen/9-der-kegler-im-uezwiler-wald.html' do
      Nicolas Wittwer
  .artist
    = link_to '/sagen/10-hexenmusik-im-maiengruen.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'René Philippe', src: '/images/Rene_philippe.png'}/
    = link_to '/sagen/10-hexenmusik-im-maiengruen.html' do
      René Philippe
  .artist
    = link_to '/sagen/11-die-waltenschwiler-hexe.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Roman Sonderegger', src: '/images/Roman_sonderegger.png'}/
    = link_to '/sagen/11-die-waltenschwiler-hexe.html' do
      Roman Sonderegger
  .artist
    = link_to '/sagen/12-brennende-maenner.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Rafael Häfliger', src: '/images/Rafael_haefliger.png'}/
    = link_to '/sagen/12-brennende-maenner.html' do
      Rafael Häfliger
