---
layout: 'default'
title: 'Die Projektidee'
---

%h1 Sagen
%p
  Sagen sind ein wertvoller Beitrag zur Identifikation einer Region. Auch das Freiamt hütet einen reichen «Schatz» an Sagen und Legenden.
%p
  Nur wer garstig genug ist wagt sich hier auf ein Stelldichein mit dem gänsefüssigen Waldmännchen und lustigen Reussjungfern auf dem Tanzplatz, oder zum rabenschwarzen Wohler Eichmann auf seinem wuchtigen Baumsitz. Und im übergrossen Spiegelbild wird wohl keinem entgehen, warum der hübsch eingekleidete Zwerg von Muri so plötzlich und für immer verschwand...

#myths
  .myth
    = link_to '/sagen/1-der-tanzplatz-von-zufikon.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Der Tanzplatz von Zufikon', src: '/images/Dertanzplatzvonzufikon_bigthumb.jpeg'}/
    = link_to '/sagen/1-der-tanzplatz-von-zufikon.html' do
      1. Der Tanzplatz von Zufikon
  .myth
    = link_to '/sagen/2-der-teufel-auf-der-isenburg.html' do
      %img.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Der Teufel auf der Isenburg', src: '/images/derTeufelaufderIsenburg_bigthumb.jpg'}/
    = link_to '/sagen/2-der-teufel-auf-der-isenburg.html' do
      2. Der Teufel auf der Isenburg
  .myth
    = link_to '/sagen/3-der-rote-wyssenbacher.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Der rote Wyssenacher', src: '/images/derRoteWyssenacher_bigthumb.jpg'}/
    = link_to '/sagen/3-der-rote-wyssenbacher.html' do
      3. Der rote Wyssenbacher
  .myth
    = link_to '/sagen/4-das-ruessegger-licht-an-der-reuss.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Ruesseggerlicht', src: '/images/ruesseggerliecht_bigthumb.jpg'}/
    = link_to '/sagen/4-das-ruessegger-licht-an-der-reuss.html' do
      4. Das Rüssegger-Licht an der Reuss
  .myth
    = link_to '/sagen/5-der-wohler-eichmann.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Der Wohler Eichmann', src: '/images/derwohlereichmann_bigthumb.jpg'}/
    = link_to '/sagen/5-der-wohler-eichmann.html' do
      5. Der Wohler Eichmann
  .myth
    = link_to '/sagen/6-der-zwerg-von-muri.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Der Zwerg von Muri', src: '/images/derZwergvonMuri_bigthumb.jpg'}/
    = link_to '/sagen/6-der-zwerg-von-muri.html' do
      6. Der Zwerg von Muri
  .myth
    = link_to '/sagen/7-die-drei-angelsachsen.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Die drei Angelsachsen', src: '/images/diedreiangelsachsen_bigthumb.jpg'}/
    = link_to '/sagen/7-die-drei-angelsachsen.html' do
      7. Die drei Angelsachsen
  .myth
    = link_to '/sagen/8-der-stifeliryter.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Der Stifeliryter', src: '/images/derStifeliryter_bigthumb.jpg'}/
    = link_to '/sagen/8-der-stifeliryter.html' do
      8. Der Stifeliryter
  .myth
    = link_to '/sagen/9-der-kegler-im-uezwiler-wald.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Der Kegler im Uezwil', src: '/images/derKeglerImUezwil_bigthumb.jpg'}/
    = link_to '/sagen/9-der-kegler-im-uezwiler-wald.html' do
      9. Der Kegler im Uezwiler Wald
  .myth
    = link_to '/sagen/10-hexenmusik-im-maiengruen.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Hexenmusik im Maiengrün', src: '/images/hexenmusikimMaiengruen_bigthumb.jpg'}/
    = link_to '/sagen/10-hexenmusik-im-maiengruen.html' do
      10. Hexenmusik im Maiengrün
  .myth
    = link_to '/sagen/11-die-waltenschwiler-hexe.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Die Waltenschwiler Hexe', src: '/images/diewaltenschwilerhexe_bigthumb.jpg'}/
    = link_to '/sagen/11-die-waltenschwiler-hexe.html' do
      11. Die Waltenschwiler Hexe
  .myth
    = link_to '/sagen/12-brennende-maenner.html' do
      %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Brennende Männer', src: '/images/brennendeMaenner_bigthumb.jpg'}/
    = link_to '/sagen/12-brennende-maenner.html' do
      12. Brennende Männer

%h3 Quellenhinweise

%ul
  %li
    %p
      Fotos von Reinhard Strickler
      %a{href: 'http://www.photofascination.ch'} www.photofascination.ch
  %li
    %p
      Freiämter Sagen, erzählt und bearbeitet von Hans Koch, herausgegeben von der Historischen Gesellschaft Freiamt. Bezug zum Preis von Fr. 10.-- zuzüglich Versandspesen bei:
    %table{style: 'margin: auto;'}
      %tr
        %td
          %b Muri Info
      %tr
        %td Marktgasse 10
      %tr
        %td 5630 Muri
      %tr
        %td
      %tr
        %td Telefon 056 664 70 11
      %tr
        %td
          %a{href: 'mailto:info@freiamt.ch'} info@freiamt.ch
    %p
  %li
    Menschen, Geister, Fabeltiere. Aargauer Sagen, Anekdoten und historische Texte. Erschienen im AT Verlag und Lehrmittelverlag des Kantons Aargau.
  %li
    Schweizer Sagen aus dem Aargau von Ernst Ludwig Rochholz, Verleger Edition OLMS.
